https://www.djangoproject.com/download/1.5b1/tarball/

git+https://github.com/django-extensions/django-extensions
git+https://github.com/django-debug-toolbar/django-debug-toolbar
git+https://github.com/playfire/django-debug-toolbar-user-panel
git+https://github.com/omab/django-social-auth

django-tastypie==0.9.11
django-celery==3.0.11
django-redis-cache==0.9.5
easy_thumbnails==1.1
pil==1.1.7
redis==2.4.5
hiredis==0.1.1
pyelasticsearch==0.2
geopy==0.94.2
mysql-python==1.2.4c1
south==0.7.6
stripe==1.7.6
